.resume {
    background: rgb(22, 22, 22);
    width: 100%;
    position: absolute;
    z-index: -1;
    animation: transition 2s;

    .name {
        display: flex;
        gap: 10px;
        text-transform: none;
        border-bottom: 1px dashed rgba(204, 199, 199, 0.315);
        height: unset;
        padding: 10px 0;
        margin: 20px auto;
        text-align: center;

        h2 {
            text-transform: uppercase;
            color: rgb(255, 255, 255);
        }

        p {
            font-size: 16px;
            opacity: 0.6;
        }
    }

    .resumeDetails {
        display: flex;
        margin: 20px auto;
        justify-content: space-between;
        border-bottom: 1px dashed rgba(204, 199, 199, 0.315);


        .details1,
        .details2 {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 20px auto;
            justify-content: spa;

            .info {
                color: rgb(185, 175, 175);
                display: flex;
                gap: 10px;
            }

            .icon,
            .infoName {
                color: rgb(255, 255, 255);
            }
        }
    }

    .overview {
        display: flex;
        margin: 0 auto;
        padding: 0;

        .text {
            color: rgb(185, 175, 175);
            width: 90%;
            display: flex;
            margin-left: 155px;
            line-height: 25px;
            font-size: 18px;
            padding: 10px 5px;
            text-align: justify;

            span {
                color: rgb(31, 73, 211);
            }
        }
    }

    .edu,
    .cert,
    .skills,
    .hobby,
    .referrer {
        display: flex;
        flex-direction: column;
        margin-left: 160px;
        margin-top: 20px;


        .eduLogo,
        .certLogo,
        .skillLogo,
        .hobbyLogo,
        .referrerLogo {
            display: flex;
            color: rgb(185, 175, 175);
            gap: 10px;
            margin: 20px 50px;

            .icon {
                font-size: 2em;
            }

            h1 {
                font-size: 2em;

            }

        }

        .eduDetails,
        .certText,
        .hobbyText,
        .referrerText {
            display: flex;
            gap: 20px;
            margin: 20px 30px;
            color: white;
            align-items: center;

            p {
                color: rgb(185, 175, 175);
                display: flex;
            }


            .eduText {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 80%;
                gap: 10px;
                border-bottom: 1px dashed rgba(204, 199, 199, 0.315);
                padding-bottom: 10px;

                h4 {
                    font-size: 20px;
                }


                .text2 {
                    display: flex;
                    justify-content: space-between;
                    color: rgb(185, 175, 175);

                    .address {
                        text-align: right;

                    }
                }
            }
        }
    }

    .cert {

        .certText {
            display: flex;
            flex-direction: row;


            &:nth-child(5) {

                p {
                    border-bottom: 1px dashed rgba(204, 199, 199, 0.315);
                    padding-bottom: 5px;
                    width: 80%;
                }

            }

        }
    }

    .skills {

        display: flex;


        .skilldetails {
            display: flex;
            justify-content: center;
            gap: 10px;
            color: white;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px dashed rgba(204, 199, 199, 0.315);

            .skill {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                padding: 20px 50px;
                text-align: center;

                .skillName {
                    color: rgb(185, 175, 175);
                }

                .star {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 10px 0;
                    font-size: 5em;

                    &:hover {
                        color: rgb(31, 73, 211);
                    }

                }

                .stars {
                    font-size: 15px;
                    margin: 0 auto;
                    color: rgba(255, 251, 2, 0.815);
                }
            }

        }
    }

    .hobby {


        .hobbyText {
            display: flex;
            justify-content: center;
            justify-content: space-around;
            padding: 20px 100px;
            border-bottom: 1px dashed rgba(204, 199, 199, 0.315);

            h4 {
                border: 1px dashed white;
                padding: 5px 10px;
                margin-bottom: 30px;
                color: rgb(185, 175, 175);

                &:hover {
                    background-color: rgb(54, 91, 214);
                }
            }
        }
    }

    .referrer {

        .referrerText {
            display: flex;
            justify-content: center;
            color: rgb(185, 175, 175);
        }
    }

}
@keyframes transition{
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    } 
    to {
      opacity: 1;
      transform: rotateX(0);
    }
}

@media only screen and (max-width: 1024px) {

    .resume {
        background: rgb(22, 22, 22);
        width: 100%;
        position: absolute;
        z-index: -1;

        .name {
            display: flex;
            text-align: 100%;
            font-size: 12px;
            margin: 10px unset;
        }

        .resumeDetails {
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            .details1, .details2 {
                margin: 10px 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px 0;

                .info {
                    display: flex;
                    margin: 10px 0;
                }

            }
            
        }

        .overview {
            display: flex;
            margin: unset;
            justify-content: center;

            .text {
                color: rgb(185, 175, 175);
                display: flex;
                margin-left: 10px;
                line-height: 30px;
                font-size: 16px;
                padding: 10px 5px;
                width: 100%;
                text-align: justify;
    
                span {
                    color: rgb(31, 73, 211);
                }
            }
        }
        .edu,
        .cert,
        .skills,
        .hobby,
        .referrer {
            display: flex;
            flex-direction: column;
            margin: 20px 20px;
    
    
            .eduLogo,
            .certLogo,
            .skillLogo,
            .hobbyLogo,
            .referrerLogo {
                display: flex;
                color: rgb(185, 175, 175);
                gap: 10px;
                margin: 20px 0;
    
                .icon {
                    font-size: 16px;
                }
    
                h1 {
                    font-size: 16px;
    
                }
    
            }
    
            .eduDetails,
            .certText,
            .hobbyText,
            .referrerText {
                display: flex;
                gap: 20px;
                margin: 20px 0;
                color: white;
                align-items: unset;
    
                p {
                    color: rgb(185, 175, 175);
                    display: flex;
                }

                h2 {
                    font-size: 16px;
                    align-items: center;
                    display: flex;
                }
    
    
                .eduText {
                    display: flex;
                    flex-direction: column;
                    justify-content: unset;
                    width: 80%;
                    gap: 10px;
                    border-bottom: 1px dashed rgba(204, 199, 199, 0.315);
                    padding-bottom: 10px;
    
                    h4 {
                        font-size: 14px;
                    }
    
    
                    .text2 {
                        display: flex;
                        flex-direction: column;
                        color: rgb(185, 175, 175);
    
                        .address {
                            text-align: unset;
    
                        }
                    }
                }
            }
        }
        .skills {
    
            display: flex;
            
    
    
            .skilldetails {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;
                color: white;
                align-items: unset;
                border-bottom: 1px dashed rgba(204, 199, 199, 0.315);
                width: 100%;
                justify-content: space-between;
                padding-bottom: 30px;
    
                .skill {
                    display: flex;
                    margin-top: 20px;
                    padding: unset;
                    text-align: center;
    
                    .skillName {
                        color: rgb(185, 175, 175);
                    }
    
                    .star {
                        display: flex;
                        margin: 10px 0;
                        font-size: 2.5em;
                        
    
                        &:hover {
                            color: rgb(31, 73, 211);
                        }
    
                    }
    
                    .stars {
                        font-size: 15px;
                        margin: 0 unset;
                        color: rgba(255, 251, 2, 0.815);
                    }
                }
    
            }
        }
        .hobby {
            display: flex;
    
            .hobbyText {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                padding-bottom: 40px;
                border-bottom: 1px dashed rgba(204, 199, 199, 0.315);
    
                h4 {
                    border: 1px dashed white;
                    padding: 5px 10px;
                    margin-bottom: 1px;
                    color: rgb(185, 175, 175);
    
                    &:hover {
                        background-color: rgb(54, 91, 214);
                    }
                }
            }
        }
    }

}