.contact {
    background: rgb(22, 22, 22);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;

    .contactDetails {
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
        color: rgba(54, 92, 214, 0.63);
        border-bottom: 2px dotted rgba(204, 199, 199, 0.315);
        width: 70%;
        padding: 5px 0;
        

        h1 {
            font-size: 2.5rem;
        }
        .icon {
            font-size: 2.5rem;
        }
    }

    .form {
        display: flex;
        margin: 20px 210px;
        flex-direction: row;
        padding: 0 20px;
        

        h2 {
            color: rgb(185, 175, 175);
            border: 1px dashed rgba(204, 199, 199, 0.315);
            padding: 5px;
            float: left;
            width: 200px;
            text-align: center;
            margin-bottom: 10px;

            &:hover {
                background: rgba(54, 92, 214, 0.63);
                outline-offset: 3px;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            margin: 30px 0;
            width: 50%;
            gap: 10px;
            border-right: 1px dashed rgba(204, 199, 199, 0.315);
            padding-right: 15px;

            .field {
                padding: 10px;
                background: transparent;
                border: none;
                outline: none;
                border-bottom: 1px dashed rgba(54, 92, 214, 0.63);
                font-size: 16px;
                color: rgb(185, 175, 175);
            }

            .send {
                align-self: flex-end;
                border: 1px dashed rgba(54, 92, 214, 0.63); 
                margin-top: 20px;
                padding: 5px;

                .btn {
                    width: 100px;
                    background: transparent;
                    color: rgb(255, 255, 255);
                    border-radius: 0%;
                    border: 1px solid rgba(185, 175, 175, 0.699);
    
                    &:hover {
                        background: rgba(54, 92, 214, 0.63);
                    }
                }
            }
            
        }
        .alternative {
            display: flex;
            flex-direction: column;
            padding: 10px 20px ;
            justify-content: space-around;
            color: rgb(185, 175, 175);

            .email {
                display: flex;
                gap: 10px;
                font-size: 25px;

                .icon {
                    color: rgba(54, 92, 214, 0.63);
                }
            }
            .location {
                display: flex;
                gap: 10px;
                font-size: 25px;

                .icon {
                    color: rgba(54, 92, 214, 0.63);
                }
            }
            .call {
                display: flex;
                gap: 10px;
                font-size: 25px;

                .icon {
                    color: rgba(54, 92, 214, 0.63);
                }
            }
        }
    }
}